<div class="row">
    <div class="col-12">

        <div class="alert alert-info">
            <h2 class="card-title">Hospitales APP</h2>


            <p>Back-end armado en Node-JS y MongoDB usando distintintos tipos de librerías, algunas de estas son:</p>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-check"></i> Moongose: <span>Administrador de BD</span></li>
                <li class="list-inline-item"><i class="fa fa-check"></i> Json Web Token: <span>Seguridad de
                        autenticación
                        via Token</span></li>
                <li class="list-inline-item"><i class="fa fa-check"></i> Google Api: <span>Autenticacíon via google
                        consumiendo su API</span></li>
            </ul>

            <p>Front-End hecho completamente en Angular utilizando los principales patrones de este Framework:</p>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-check"></i> Lazyload: carga de componentes según necesidad.
                    Alivianando así la fluidez de la app</li>
                <li class="list-inline-item"><i class="fa fa-check"></i> Observables, Manejo del estado y comunicación
                    entre componentes mediante Inputs y Outputs</li>
                <li class="list-inline-item"><i class="fa fa-check"></i> Interceptores y Guards</li>
            </ul>

        </div>
        <div class="alert alert-info">
            <h2>Principales funciones de la app:</h2>
            <ul>
                <li>ABM Completo de hospitales y médicos (solo para usuarios con rol ADMIN)</li>
                <li>Modificación de Roles (solo para usuarios rol ADMIN)</li>
                <li>Validación para no poder borrarse a uno mismo</li>
                <li>Servicio aparte para carga de imagenes y modificaciones de las mismas (Usuarios, Hospitales y
                    Medicos)
                </li>
                <li>Autenticación via JWT y generación de nuevo token cuando está por expirar</li>
                <li>Autenticación via Google</li>
                <li>Bloqueo de rutas y acciones según ROL de usuario</li>
                <li>Creación de nuevos usuarios</li>
                <li>Ajustes de app: Cambiar el color total del tema de la app</li>
            </ul>
        </div>
    </div>
</div>